{
    "editor.fontFamily": "JetBrains Mono",
    "editor.fontLigatures": true,
    "editor.fontSize": 18,
    "files.autoSave": "afterDelay",
    "workbench.iconTheme": "eq-material-theme-icons-darker",
    "editor.cursorStyle": "block",
    "editor.minimap.enabled": false
}